/vendor
/node_modules
Homestead.yaml
Homestead.json
/bootstrap/compiled.php
.env.*.php
.env.php
.env
.DS_STORE

/public/css
/public/js
/public/uploads
.idea
.phpstorm.meta.php
_ide_helper.php
.phpintel
.python-version
/packages
