@import "../../../node_modules/semantic-ui-css/components/reset";
@import "../../../node_modules/semantic-ui-css/components/site";

/* Layout */

@import "../../../node_modules/semantic-ui-css/components/grid";
@import "../../../node_modules/semantic-ui-css/components/container";
@import "./modules/structure";

/* Components */

@import "../../../node_modules/semantic-ui-css/components/form";
@import "../../../node_modules/semantic-ui-css/components/input";
@import "../../../node_modules/semantic-ui-css/components/checkbox";

// Fancy select
@import "../../../node_modules/semantic-ui-css/components/dropdown";
@import "../../../node_modules/semantic-ui-css/components/transition";

@import "../../../node_modules/semantic-ui-css/components/step";

@import "../../../node_modules/semantic-ui-css/components/icon";
@import "../../../node_modules/semantic-ui-css/components/button";
@import "../../../node_modules/semantic-ui-css/components/menu";
@import "../../../node_modules/semantic-ui-css/components/item";
@import "./modules/fe";
.column img {
	max-width: 100%;
}




dl {
	margin:0 0 .5em;
}
dt {
	float: left;
	margin-right: 1rem;
	opacity: .7;
}
dd {
	margin-left: 90px;
}

.leaflet-map {
	height: 300px;
	background-color: #ccc;
}