/* FindEvent */

.ui.items > .item > .image.fe-image {
	width: 400px;
	max-height: 250px;
	white-space: nowrap;
	overflow-x: visible;
	overflow-y: auto;
}
.ui.items > .item > .image.fe-image > img,
.fe-img {
	display: inline-block;
	margin-right: 1.5rem;
	width: auto;
	height: 250px;
	vertical-align: top;
	&:last-child {
		margin-right: 0;
	}
}
// Divider
@media only screen and (min-width: 767px) {
	.ui.items > .item > .image.fe-image {
		border-right: 2px solid rgba(34, 36, 38, 0.15);
	}
}

/* FindEvent preview */

.fe-img-placeholder {
	background-color: #ccc;
	line-height: 250px;
	padding: 0 2rem;
	width: calc(100% - 1.5rem + 2px);
	text-align: center;
}

/* list of object features and findevent stuff*/

.fe-summary {}

/* simple image carousel */

.fe-header {
	margin-top: -30px;
	margin-bottom: 2rem;
	padding: 68px 0 1rem;
	text-align: center;
	background: #666;
	color: white;
	>h1 {
		font-weight: normal;
		margin: 1rem 0;
	}
}

/* simple image carousel */

.fe-imglist {
	display: flex;
	align-items: center;
	justify-content: center;
	overflow-y: auto;
	>img {
		margin-right: 1.5rem;
		height: 400px;
		&:last-child {
			margin-right: 0;
		}
	}
}
.fe-imglist-feedback {
	width: 400px;
	flex-basis: 50vw;
	flex-shrink: 0;
}
