/* FindEvent */

.ui.items > .item > .image.fe-image {
	width: 400px;
	max-height: 250px;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
}
.ui.items > .item > .image.fe-image > img,
.fe-img {
	display: inline-block;
	margin-right: 1.5rem;
	width: auto;
	height: 250px;
	vertical-align: top;
	&:last-child {
		margin-right: 0;
	}
}
// Divider
@media only screen and (min-width: 767px) {
	.ui.items > .item > .image.fe-image {
		border-right: 2px solid rgba(34, 36, 38, 0.15);
	}
}

/* FindEvent preview */

.fe-img-placeholder {
	background-color: #ccc;
	line-height: 250px;
	padding: 0 2rem;
	width: calc(100% - 1.5rem + 2px);
	text-align: center;
}

/* list of object features and findevent stuff*/

.fe-summary {}

/* simple image carousel */

.fe-header {}
.fe-header-fixed {}
.fe-fiche {
	padding: 16px 0 0;
	max-width: 900px;
	margin: 0 auto 2em;
	background: white;
	box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
}

/* simple image carousel */

.fe-imglist {
	.img {
		position: relative;
		display: block;
		margin-bottom: 2em;
	}
	img {
		display: block;
		max-height: 150px;
		width: auto;
	}
}
.fe-imglist-feedback {}

/* Image remarks */

.fe-img-remark {
	display: block;
	line-height: 3rem;
	cursor: pointer;
}

/* Validation of finds */

dl {
	position: relative;
}
.fe-check {
	position: absolute;
	right: 100%;
	padding: 6px;
	line-height: 2px;
	background: #FBBD08;
	border-radius: 2px;
	margin-right: 1em;
	cursor: pointer;
	>input {
		cursor: pointer;
	}
	dl & {
		margin-top: -3px;
	}
}
.fe-invalid {
	background: #21BA45;
}
.tooltip-show[data-tooltip]:before {
	-webkit-transform: rotate(45deg) scale(1)!important;
	-ms-transform: rotate(45deg) scale(1)!important;
	transform: rotate(45deg) scale(1)!important;
	opacity: 1;
}
.tooltip-show[data-tooltip]:after {
	transform: scale(1) !important;
	left: 0;
	bottom: 100%;
	margin-bottom: 0.5em;
}
.tooltip-show[data-tooltip]:before,
.tooltip-show[data-tooltip]:after {
	visibility: visible;
	pointer-events: auto;
}
[data-green][data-position~="top"][data-tooltip]:before {
	background: #21BA45;
	box-shadow: none;
}
[data-tooltip][data-green]:after {
	background: #21BA45;
	color: #FFFFFF;
	border: none;
	box-shadow: none;
}
.fe-validating {
	padding-left: 52px!important;
}
@media only screen and (max-width: 767px) {
	.ui.container > .ui.stackable.grid > .fe-validating {
		padding-left:38px!important;
	}
}
