body {
	overflow: auto;
	background: #f5f5f5;
}
nav {
	margin-bottom: 2rem;
}
.mycontainer {
	margin: 0 auto;
	max-width: 50rem;
}
.ui.container-723 {
	max-width: 723px!important;
}
@media only screen and (min-width: 992px) {
	.mycontainer {
		max-width: 60rem;
	}
}
.row {
	margin: -1rem;
}
.col {
	padding: 1rem;
}
.ui.form .pct40.wide.field {
	width: 40% !important;
}
.ui.form .pct60.wide.field {
	width: 60% !important;
}
