body {
    padding-top: 80px;
}

.top-buffer {
    padding-top: 20px;
}

h1 {
    padding-bottom: 50px;
}

h2 {
    padding-bottom: 40px;
}

.col-sm-1 span {
    display: block;
    margin: auto;
}

.reference-row {
    padding-top: 10px;
}

.btn-center {
    height:100%;
    vertical-align: center;
    line-height : 100%;
}

.classification {
    padding-bottom: 30px;
}

.h3 {
    padding-bottom: 15px;
}

.btn-vote {
    padding-bottom: 10px;
}

body {
  margin-top: 50px;
  margin-bottom: 50px;
  background: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
}

/*
table {
  border: 2px solid #42b983;
  border-radius: 3px;
  background-color: #fff;
}

th {
  background-color: #42b983;
  color: rgba(255,255,255,0.66);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -user-select: none;
}

td {
  background-color: #f9f9f9;
}

th, td {
  min-width: 120px;
  padding: 10px 20px;
}*/

.arrow {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  margin-left: 5px;
  opacity: 0.66;
}

.arrow.asc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #fff;
}

.arrow.dsc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff;
}

.tall-col {
  height : 600px;
}

.row-stretch {
  display: flex;
}

#search {
  margin-bottom: 10px;
}

#map {
  height: 600px;
}

.dimension-col {
  padding-top: 10px;
}

.ui-datepicker {
    display:none;
}

#ui-datepicker-div {
  display: none;
  z-index: 9999 !important;
  position: relative;
}

.full {
  background: url(../img/bg_medea.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 51px;
  left: 0;
  right: 0;
  bottom: 0;
}

.landing {
  font-weight: 700;
  font-size: 3em;
  padding-top: 150px;
}
