body {
    padding-top: 80px;
}

.top-buffer {
    padding-top: 80px;
}

h1 {
    padding-bottom: 50px;
}

h2 {
    padding-bottom: 40px;
}

.col-sm-1 span {
    display: block;
    margin: auto;
}

.reference-row {
    padding-top: 10px;
}

.btn-center {
    height:100%;
    vertical-align: center;
    line-height : 100%;
}

.classification {
    padding-bottom: 30px;
}

.h3 {
    padding-bottom: 15px;
}

.btn-vote {
    padding-bottom: 10px;
}